<form (submit)="cadastrar($event)">
    <input type="email" [formField]="loginform.email">

    @if (loginform.email().touched() && loginform.email().invalid()) {
        @for  (error of loginform.email().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
      }  
        <input type="password" [formField]="loginform.senha">
    @if (loginform.senha().touched() && loginform.senha().invalid()) {
        @for (error of loginform.senha().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }
        
    <button>Cadastrar</button>
</form>


    @if (userConect()) {
        <p>usuário conectado</p>
    
    }@else {
        <p>Usuário desconectado</p>
    }
