<form (submit)="adicionar($event)">
    <input type="text" [formField]="produtoForm.title" placeholder="DIGITE O PRODUTO...">
    @if (produtoForm.title().touched() && produtoForm.title().invalid()) {
        @for (error of produtoForm.title().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <input type="text" [formField]="produtoForm.descricao" placeholder="DIGITE A DESCRIÇÃO...">
    @if (produtoForm.descricao().touched() && produtoForm.descricao().invalid()) {
        @for (error of produtoForm.descricao().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <input type="text" [formField]="produtoForm.preco" placeholder="PREÇO...">
    @if (produtoForm.preco().touched() && produtoForm.preco().invalid()) {
        @for (error of produtoForm.preco().errors(); track error.kind) {
            <span>{{error.message}}</span>
        }
    }

    <button type="submit">Adicionar carrinho</button>
</form>

@if (product()) {
    @for (item of mostrarProdutos(); track $index) {
        <p>Produto: {{item.title}}</p>
        <p>Descrição: {{item.descricao}}</p>
        <p>Preço: {{item.preco}}</p>
        <p>-----------------------------------------------</p>
    }
}