.btn{
    margin: 20px;
}

.bi{
    display: none;
    cursor: pointer;
    font-size: 1.9rem;
}

.cor{
    color: rgb(27, 2, 2);
    text-decoration: none;
   
    padding: 10px;
    display: flex;
}

.cor:hover{
    background: lightgrey;
}